__pycache__/
*.py[cod]
*.egg-info/
.coverage
.hypothesis/
.mypy_cache/
.pytest_cache/
.venv/
/cache/
htmlcov/
/test_cache/

.env
.env.*
config.yaml
config.local.yaml
*.kubeconfig
*.pem
*.key
*.p12
*.pfx

.DS_Store
.idea/
.vscode/
